*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    background-color: #000;
    background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1217&q=80');
    background-size: cover;
    background-position: center;
}
header{
    position: relative;
    padding: 0 2rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 1rem;
    font-weight: bolder;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: azure;
    font-size: 1rem;
}
a:hover{
    color: orange;
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn{
    color: azure;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: orange;
    color: aliceblue;
    padding:8px 16px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}
.action_btn:hover{
    scale:1.15;
    color: aliceblue;
}
/*DROP DOWN MENU*/
.dropdown_menu{
    display: none;
    position: absolute;
    right: 32px;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1); /* Make sure this color has an opacity of less than 1*/
    backdrop-filter: blur(4px); /* This be the blur*/
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
#hero{
    height: calc(100vh - 60px) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}
#hero h1{
    font-size: 48px;
    margin-bottom: 16px;
}
/*RESPONSIVE DESIGN*/
@media screen and (max-width: 992px) {  /*Ipads and tablets*/
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
    
}
@media screen and (max-width: 576px) {  /*Mobile phones*/
   .dropdown_menu{
    left: 32px;
   width: unset;
}
}